*{
  margin:0;
  padding:0;
}

html,
body{
  height: 100%;
  width:100%;
  background-color:darkslategrey;
}

h1{
 width:fit-content;
  padding:100px 110px;
  margin:20px;
  background-color: dimgray;
  border-radius:5px;
}

button{
   width:fit-content;
   padding:10px 20px;
   margin:10px 20px;
   border-radius:25px;
   background-color: bisque;
   color:darkslategray;
   font:bold;
}